﻿<div>
    <div class="card">
        <h5 class="card-header blue-header">@Title</h5>
        <div class="card-body">
            <p class="card-text">
                @ChildContent
            </p>
            <CurrencyTotalTable Items="TypeTotalsList">
                <ItemTemplate Context="item">
                    <tr>
                        <td>
                            <span>@item.Name</span>
                        </td>
                        <td>
                            @if (item.IsPercentage)
                            {
                                <span>@item.Amount.ToString("0.00")%</span>                                
                            }
                            else
                            {
                                <span>@item.Amount.ToString("c")</span>
                            }
                        </td>
                    </tr>
                </ItemTemplate>
            </CurrencyTotalTable>       
        </div>
    </div>
    <br />
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<BudgetTotal> TypeTotalsList { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}