﻿<div>
    <div class="card">
        <h5 class="card-header blue-header">@Title</h5>
        <div class="card-body">
            <p class="card-text">
                @ChildContent
            </p>     
            <EditTable Type="@Type"
                HasInterestRate="@HasInterestRate"
                Items="TypeList"
                AddCategoryClickCallback="AddCategoryClickCallback">
                <ItemTemplate Context="item">
                    <tr>
                        <td>
                            <span>@item.Name</span>
                        </td>
                        @if (HasInterestRate)
                        {
                            <td>
                                <div class="input-group">                                
                                    <input type="text" @bind="item.InterestRateStr" @bind:event="oninput" @onchange="OnInputChanged" placeholder="%" class="form-control percentage" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">%</div>
                                    </div>
                                </div>                                
                            </td>
                        }
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="text" @bind="item.AmountStr" @bind:event="oninput" @onchange="OnInputChanged" placeholder="@item.Name" class="form-control currency" />
                            </div>                            
                        </td>
                        <td>
                            <button type="button" @onclick="@(() => Remove(item))" class="btn btn-danger btn-sm"><span data-feather="x-circle"></span></button>
                        </td>
                    </tr>
                </ItemTemplate>
            </EditTable>
            <CurrencyTotalTable Items="TypeTotalsList">
                <ItemTemplate Context="item">
                    <tr>
                        <td>
                            <span>@item.Name</span>
                        </td>
                        <td>
                            <span>@item.Amount.ToString("c")</span>
                        </td>
                    </tr>
                </ItemTemplate>
            </CurrencyTotalTable>       
        </div>
    </div>
    <br />
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public bool HasInterestRate { get; set; }

    [Parameter]
    public List<BudgetValue> TypeList { get; set; }

    [Parameter]
    public List<BudgetTotal> TypeTotalsList { get; set; }

    [Parameter]
    public EventCallback<string> AddCategoryClickCallback { get; set; }

    [Parameter]
    public EventCallback<BudgetValue> RemoveCategoryClickCallback { get; set; }

    [Parameter]
    public EventCallback<string> OnChangeCallback { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    private async Task Remove(BudgetValue budgetValue)
    {
        await RemoveCategoryClickCallback.InvokeAsync(budgetValue);
    }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        await OnChangeCallback.InvokeAsync(e.Value.ToString());
    }
}