@typeparam TItem

<table class="table table-striped table-bordered table-hover table-sm">
    <tbody>
        @foreach (var item in Items)
        {
            @ItemTemplate(item)
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
}
