@typeparam TItem

<table class="table table-striped table-bordered table-hover table-sm">
    @if (HasInterestRate)
    {
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Interest Rate
                </th>
                <th>
                    Amount
                </th>
                <th></th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Items)
        {
            @ItemTemplate(item)
        }
    </tbody>
    <tfoot>
        @if (HasInterestRate)
        {
            <tr>
                <td colspan="4" style="text-align: right;">
                    <button type="button" @onclick="Add" class="btn btn-primary btn-sm"><span data-feather="plus-circle"></span> Add</button>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="3" style="text-align: right;">
                    <button type="button" @onclick="Add" class="btn btn-primary btn-sm"><span data-feather="plus-circle"></span> Add</button>
                </td>
            </tr>
        }
    </tfoot>
</table>

@code {
    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public bool HasInterestRate { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }

    [Parameter]
    public EventCallback<string> AddCategoryClickCallback { get; set; }

    private async Task Add()
    {
        await AddCategoryClickCallback.InvokeAsync(Type);
    }
}
