﻿<div id="dialog-form" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="@formModel" Submit="Save">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtCategoryName">Category Name</label>
                        <input id="txtCategoryName" type="text" class="form-control" placeholder="Category" @bind="formModel.Name" @bind:event="oninput" />
                        <span id="txtCategoryNameError" class="@ShowAsHiddenBlock(ShowNameError)" style="color: red;">Please enter a category name.</span>
                    </div>
                    <div class="@ShowAsHiddenBlock(ShowInterestRate)">
                        <div id="pnlCategoryInterestRate" class="form-group">
                            <label for="txtCategoryInterestRate">Interest Rate</label>
                            <div class="input-group">                                
                                <input id="txtCategoryInterestRate" type="text" @bind="formModel.InterestRate" @bind:event="oninput" class="form-control percentage" />
                                <div class="input-group-append">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="txtCategoryAmount">Amount</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input id="txtCategoryAmount" type="text" @bind="formModel.Amount" @bind:event="oninput" class="form-control currency" />
                        </div>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" @onclick="Save" class="btn btn-primary">Save</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private NewCategoryParameters formModel = new NewCategoryParameters();

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool ShowNameError { get; set; }

    [Parameter]
    public bool ShowInterestRate { get; set; }

    [Parameter]
    public EventCallback<NewCategoryParameters> SaveCallback { get; set; }

    private string ShowAsHiddenBlock(bool value)
    {
        return value ? string.Empty : "hiddenblock";
    }    

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected async Task CallJs(string f)
    {
        await JsRuntime.InvokeAsync<object>($"helperJsFunctions.{f}"); 
    }

    public async Task Show()
    {
        formModel.Name = string.Empty;
        formModel.InterestRate = string.Empty;
        formModel.Amount = string.Empty;

        await CallJs("showModal");
    }

    public async Task Hide()
    {
        await CallJs("hideModal");
    }

    private async Task Save()
    {
        var newCategoryParameters = new NewCategoryParameters
        {
            Type = Type,
            Name = formModel.Name,
            InterestRate = formModel.InterestRate,
            Amount = formModel.Amount
        };

        await SaveCallback.InvokeAsync(newCategoryParameters);
    }
}
