<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Budget Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="../css/app.css" rel="stylesheet" />
</head>

<body>

    <div id="loader" class="main">    
        <div style="background-color:#f2f2f2; height:100vh;">
            <div class="h-100 d-flex justify-content-center align-items-center">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-text">
                            <div class="spinner-border text-primary"></div>
                            Loading...
                        </h4>
                    </div>
                </div>              
            </div>                
        </div>
    </div>

    <div id="app" class="main container hiddenblock">    
        <div class="content px-4">
            
            <div>    
                <div id="dialog-form" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ dialogValues.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form v-on:submit.prevent="addCategoryType">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="txtCategoryName">Category Name</label>
                                        <input id="txtCategoryName" type="text" class="form-control" placeholder="Category" v-model="dialogValues.name" />
                                        <span id="txtCategoryNameError" v-bind:class="{ hiddenblock: !dialogValues.showNameError }" style="color: red;">Please enter a category name.</span>
                                    </div>
                                    <div id="pnlCategoryInterestRate" class="form-group" v-bind:class="{ hiddenblock: !dialogValues.showInterestRate }">
                                        <label for="txtCategoryInterestRate">Interest Rate</label>
                                        <vue-autonumeric v-model="dialogValues.interestRate" :options="{ currencySymbol: '%', currencySymbolPlacement: 's' }" placeholder="%" class="form-control"></vue-autonumeric>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtCategoryAmount">Amount</label>
                                        <vue-autonumeric v-model="dialogValues.amount" :options="{ currencySymbol: '$' }" placeholder="Amount" class="form-control"></vue-autonumeric>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blazor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/vuejs"><strong>Vue.js</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jquery">jQuery</a>
                    </li>
                </ul>
                <br />
            
                <div class="form">
                    <div class="text-right">
                        <button type="button" class="btn btn-sm btn-danger" @click="clearBudgetValues"><span data-feather="trash-2"></span> Clear Budget Amounts / Start Over</button>
                        <button type="button" class="btn btn-sm btn-warning" @click="resetBudgetValuesToExampleDefaults"><span data-feather="refresh-ccw"></span> Reset Budget Amounts to Example Defaults</button>
                    </div>
                    <br />
                    
                    <card-panel title="Monthly Expenses"
                                type="Expense"
                                v-bind:type-list="expenseList"
                                v-bind:type-totals-list="expenseTotalsList">
                        <template slot="description">
                            <strong>Please add/edit your monthly expenses.</strong>
                            <br />
                            These are the amounts you expect to spend each month.
                        </template>
                    </card-panel>
            
                    <card-panel title="Monthly Income"
                                type="Income"
                                v-bind:type-list="incomeList"
                                v-bind:type-totals-list="incomeTotalsList">
                        <template slot="description">
                            <strong>Please add/edit your post-tax monthly income.</strong>
                            <br />
                            This is your
                            <a href="https://www.investopedia.com/terms/t/take-home-pay.asp" target="_blank" rel="noopener noreferrer">take-home pay</a>
                            received after the deduction of taxes, benefits, and voluntary contributions.
                        </template>
                    </card-panel>
            
                    <card-panel-with-interest-rate title="Investments"
                                                   type="Investment"
                                                   v-bind:type-list="investmentList"
                                                   v-bind:type-totals-list="investmentTotalsList">
                        <template slot="description">
                            <strong>Please add/edit your investment accounts (Savings, Money Market, CDs, etc.).</strong>
                            <br />
                            (All interest rates are calculated on an annual basis.)
                            <br />
                            (It is assumed yearly savings will be distributed evenly across all investment accounts.)
                        </template>
                    </card-panel-with-interest-rate>
            
                    <card-panel-with-interest-rate title="Pre-Tax Investments"
                                                   type="PreTaxInvestment"
                                                   v-bind:type-list="preTaxInvestmentList"
                                                   v-bind:type-totals-list="preTaxInvestmentTotalsList">
                        <template slot="description">
                            <strong>Please add/edit your pre-tax investment accounts (401k, Traditional IRA, etc.).</strong>
                            <br />
                            These investment accounts will match with the pre-tax monthly contributions below.
                            <br />
                            (All interest rates are calculated on an annual basis.)
                        </template>
                    </card-panel-with-interest-rate>
            
                    <card-panel title="Pre-Tax Monthly Contributions"
                                type="PreTaxInvestmentContribution"
                                v-bind:type-list="preTaxInvestmentContributionList"
                                v-bind:type-totals-list="preTaxInvestmentContributionTotalsList">
                        <template slot="description">
                            <strong>Please add/edit your monthly pre-tax investment contributions (401k, Traditional IRA, etc.).</strong>
                            <br />
                            These contributions will match with the pre-tax investments above.
                        </template>
                    </card-panel>
            
                    <card-panel-with-totals-only title="Total Savings"
                                v-bind:type-totals-list="savingsTotalsList">
                    </card-panel-with-totals-only>
                    
                </div>
            </div>
            
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://unpkg.com/autonumeric"></script>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <script src="//unpkg.com/vue-autonumeric"></script>

    <script src="budget-calculator.js"></script>    
</body>

</html>
