﻿@inject Blazored.LocalStorage.ILocalStorageService localStore
@page "/"

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/"><strong>Blazor</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/vuejs">Vue.js</a>
    </li>
    <li class="nav-item">
        <a class="nav-link =" href="/jquery">jQuery</a>
    </li>
</ul>
<br />

<div class="text-right">
    <button type="button" class="btn btn-sm btn-danger" @onclick="ClearBudgetValuesClick"><span data-feather="trash-2"></span> Clear Budget Amounts / Start Over</button>
    <button type="button" class="btn btn-sm btn-warning" @onclick="ResetBudgetValuesToExampleDefaultsClick"><span data-feather="refresh-ccw"></span> Reset Budget Amounts to Example Defaults</button>
</div>
<br />

<Modal @ref="modal"
    Type="@type"
    Title="@title"    
    ShowNameError="@showNameError"
    ShowInterestRate="@showInterestRate"    
    SaveCallback="@SaveNewCategory">
</Modal>

<CardPanel Title="Monthly Expenses"
    Type="Expense"
    HasInterestRate="false"
    TypeList="@expenseList"
    TypeTotalsList="@expenseTotalsList"
    AddCategoryClickCallback="@AddCategoryClick"
    RemoveCategoryClickCallback="@RemoveCategoryClick"
    OnChangeCallback="@Update">
        <strong>Please add/edit your monthly expenses.</strong>
        <br />
        These are the amounts you expect to spend each month.
</CardPanel>

<CardPanel Title="Monthly Income"
    Type="Income"
    HasInterestRate="false"
    TypeList="@incomeList"
    TypeTotalsList="@incomeTotalsList"
    AddCategoryClickCallback="@AddCategoryClick"
    RemoveCategoryClickCallback="@RemoveCategoryClick"
    OnChangeCallback="@Update">
        <strong>Please add/edit your post-tax monthly income.</strong>
        <br />
        This is your
        <a href="https://www.investopedia.com/terms/t/take-home-pay.asp" target="_blank" rel="noopener noreferrer">take-home pay</a>
        received after the deduction of taxes, benefits, and voluntary contributions.
</CardPanel>

<CardPanel Title="Investments"
    Type="Investment"
    HasInterestRate="true"
    TypeList="@investmentList"
    TypeTotalsList="@investmentTotalsList"
    AddCategoryClickCallback="@AddCategoryClick"
    RemoveCategoryClickCallback="@RemoveCategoryClick"
    OnChangeCallback="@Update">
        <strong>Please add/edit your investment accounts (Savings, Money Market, CDs, etc.).</strong>
        <br />
        (All interest rates are calculated on an annual basis.)
        <br />
        (It is assumed yearly savings will be distributed evenly across all investment accounts.)
</CardPanel>

<CardPanel Title="Pre-Tax Investments"
    Type="PreTaxInvestment"
    HasInterestRate="true"
    TypeList="@preTaxInvestmentList"
    TypeTotalsList="@preTaxInvestmentTotalsList"
    AddCategoryClickCallback="@AddCategoryClick"
    RemoveCategoryClickCallback="@RemoveCategoryClick"
    OnChangeCallback="@Update">
        <strong>Please add/edit your pre-tax investment accounts (401k, Traditional IRA, etc.).</strong>
        <br />
        These investment accounts will match with the pre-tax monthly contributions below.
        <br />
        (All interest rates are calculated on an annual basis.)
</CardPanel>

<CardPanel Title="Pre-Tax Monthly Contributions"
    Type="PreTaxInvestmentContribution"
    HasInterestRate="false"
    TypeList="@preTaxInvestmentContributionList"
    TypeTotalsList="@preTaxInvestmentContributionTotalsList"
    AddCategoryClickCallback="@AddCategoryClick"
    RemoveCategoryClickCallback="@RemoveCategoryClick"
    OnChangeCallback="@Update">
        <strong>Please add/edit your monthly pre-tax investment contributions (401k, Traditional IRA, etc.).</strong>
        <br />
        These contributions will match with the pre-tax investments above.
</CardPanel>

<CardPanelWithTotals Title="Total Savings"
    TypeTotalsList="@savingsTotalsList">
</CardPanelWithTotals>

@code {

    private const string localStorageKey = "BudgetValues";
    
    private Modal modal;
    
    private string type;
    private string title;
    private bool showNameError;
    private bool showInterestRate;

    private List<BudgetValue> budgetValues;
    private BudgetCalculator budgetCalculator = new BudgetCalculator();

    private List<BudgetValue> expenseList = new List<BudgetValue>();
    private List<BudgetTotal> expenseTotalsList = new List<BudgetTotal>();
    private List<BudgetValue> incomeList = new List<BudgetValue>();
    private List<BudgetTotal> incomeTotalsList = new List<BudgetTotal>();
    private List<BudgetValue> investmentList = new List<BudgetValue>();
    private List<BudgetTotal> investmentTotalsList = new List<BudgetTotal>();
    private List<BudgetValue> preTaxInvestmentList = new List<BudgetValue>();
    private List<BudgetTotal> preTaxInvestmentTotalsList = new List<BudgetTotal>();
    private List<BudgetValue> preTaxInvestmentContributionList = new List<BudgetValue>();
    private List<BudgetTotal> preTaxInvestmentContributionTotalsList = new List<BudgetTotal>();
    private List<BudgetTotal> savingsTotalsList = new List<BudgetTotal>();

    private bool isInitialized = false;

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            isInitialized = true;
            await InitializeStoredValue();
            StateHasChanged();            
        }
        else if (isInitialized)
        {
            await CallJs("initializeModal");
            await CallJs("initializeAutoNumeric");
            await CallJs("initializeIcons");
        }
    }

    private async Task InitializeStoredValue()
    {
        var storedValue = await localStore.GetItemAsync<string>(localStorageKey);
        if (storedValue != null)
        {
            try
            {
                budgetValues = JsonConvert.DeserializeObject<List<BudgetValue>>(storedValue);
                Update();
            }
            catch
            {
                // Ignore deserialization errors
            }
        }
    }

    protected override void OnInitialized()
    {
        if (budgetValues == null)
        {
            budgetValues = budgetCalculator.GetDefaultBudgetValues();
            ComputeTotals();
        }
    }

    protected async Task CallJs(string f)
    {
        try
        {
            await JsRuntime.InvokeAsync<object>($"helperJsFunctions.{f}"); 
        }
        catch (Microsoft.JSInterop.JSException ex)
        {
            if (ex.Message.Contains("Could not find 'helperJsFunctions' in 'window'."))
            {
                // Ignore error
            }
            else
            {
                throw;
            }
        }
    }

    private void ComputeTotals()
    {
        budgetCalculator.UpdateCommonOverallTotals(budgetValues);

        expenseList = GetTypeList("Expense");
        expenseTotalsList = GetTypeTotalsList("Expense");
        incomeList = GetTypeList("Income");
        incomeTotalsList = GetTypeTotalsList("Income");
        investmentList = GetTypeList("Investment");
        investmentTotalsList = GetTypeTotalsList("Investment");
        preTaxInvestmentList = GetTypeList("PreTaxInvestment");
        preTaxInvestmentTotalsList = GetTypeTotalsList("PreTaxInvestment");
        preTaxInvestmentContributionList = GetTypeList("PreTaxInvestmentContribution");
        preTaxInvestmentContributionTotalsList = GetTypeTotalsList("PreTaxInvestmentContribution");
        savingsTotalsList = GetTypeTotalsList("Savings");
    }

    private List<BudgetValue> GetTypeList(string type)
    {
        return budgetCalculator.GetTypeList(type, budgetValues);
    }

    private List<BudgetTotal> GetTypeTotalsList(string type)
    {
        return budgetCalculator.GetTypeTotalsList(type, budgetValues);
    }

    private async Task AddCategoryClick(string type)
    {
        showInterestRate = false;

        if (type == "Expense") 
        {
            title = "Add Expense Category";
        }
        else if (type == "Income") 
        {
            title = "Add Income Category";
        }
        else if (type == "Investment") 
        {
            title = "Add Investment Category";
            showInterestRate = true;
        }
        else if (type == "PreTaxInvestment") 
        {
            title = "Add Pre-Tax Investment Category";
            showInterestRate = true;
        }
        else if (type == "PreTaxInvestmentContribution") 
        {
            title = "Add Pre-Tax Contribution Category";
        }

        this.type = type;
        await ShowModal();
    }    

    private async Task ShowModal()
    {
        await modal.Show();
    }

    private async Task HideModal()
    {
        await modal.Hide();
    }

    private async Task SaveNewCategory(NewCategoryParameters newCategoryParameters)
    {        
        if (!string.IsNullOrEmpty(newCategoryParameters.Name)) 
        {
            AddCategory(newCategoryParameters); 
            await HideModal();      
            Update();     
        }
        else {
            showNameError = true;
        }
    }

    private void AddCategory(NewCategoryParameters newCategoryParameters, bool ignoreMirroringPreTaxInvestmentRow = false)
    {
        // Remove any existing items matching the new category
        budgetValues = budgetValues
            .Where(x => x.Type != newCategoryParameters.Type || x.Name != newCategoryParameters.Name)
            .ToList();

        budgetValues.Add(new BudgetValue
            { 
                Type = newCategoryParameters.Type, 
                Name = newCategoryParameters.Name,
                InterestRate = newCategoryParameters.InterestRate == null ? 0 : decimal.TryParse(newCategoryParameters.InterestRate.Replace(",", string.Empty), out decimal interestRateVal) ? interestRateVal : 0,
                Amount = newCategoryParameters.Amount == null ? 0 : decimal.TryParse(newCategoryParameters.Amount.Replace(",", string.Empty), out decimal amountVal) ? amountVal : 0
            }
        );

        if (!ignoreMirroringPreTaxInvestmentRow) 
        {
            if (type == "PreTaxInvestment") 
            {
                AddCategory(new NewCategoryParameters
                    { 
                        Type = "PreTaxInvestmentContribution", 
                        Name = newCategoryParameters.Name
                    }, true);
            }
            else if (type == "PreTaxInvestmentContribution") 
            {
                AddCategory(new NewCategoryParameters
                    { 
                        Type = "PreTaxInvestment", 
                        Name = newCategoryParameters.Name
                    }, true);
            }
        }
    }

    private async Task ClearBudgetValuesClick()
    {
        if (await Confirm("Are you sure you want to clear the budget values and start over?"))
        {
            budgetValues = new List<BudgetValue>();
            ClearLocalStorage();
            Update();
        }
    }

    private async Task ResetBudgetValuesToExampleDefaultsClick()
    {
        if (await Confirm("Are you sure you want to reset the budget values to the example defaults?"))
        {
            budgetValues = budgetCalculator.GetDefaultBudgetValues();
            ClearLocalStorage();
            Update();
        }
    }

    private async Task RemoveCategoryClick(BudgetValue budgetValue)
    {
        if (await Confirm("Are you sure you want to remove this line item?"))
        {
            budgetValues.Remove(budgetValue);
            Update();
        }
    }

    private async Task<bool> Confirm(string message)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", message);
        return confirmed;
    }    

    private void Update(string value = "")
    {
        ComputeTotals();
        StateHasChanged();
        UpdateLocalStorage();
    }

    public async void UpdateLocalStorage()
    {
        var storedValue = JsonConvert.SerializeObject(budgetValues);
        await localStore.SetItemAsync(localStorageKey, storedValue);
    }

    public async void ClearLocalStorage()
    {
        await localStore.ClearAsync();
    }    
}